.DS_Store
.idea
local.properties
TAGS
out
xcuserdata
development/Cocos2dxStoreFromSources.xcodeproj/project.xcworkspace
development/soomla-native/projects/cocos2dx-ios-store/Cocos2dXiOSStore.xcodeproj/project.xcworkspace
